/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
    box-sizing: border-box;
}

html, body {
    
    margin: 0;
    padding: 0;
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: rgb(25, 72, 154);
    color: white;
    text-shadow: none;
}

::selection {
    background: rgb(25, 72, 154);
    color: white;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* =====================================
   Navigation Right
   ===================================== */

.nav-icon-container {
    position: fixed;
    width: 90px;
    height: 90px;
    top: 0px;
    right: 0px;
    z-index: 100;
    cursor: pointer;
}

.nav-icon {
    position: absolute;
    width: 30px;
    height: 20px;
    top: 35px;
    right: 30px;
}

.bar-1, .bar-2 {
    position: absolute;
    height: 5px;
    background-color: white;
    -webkit-transition: all 0.3s ease-in-out; 
    transition:         all 0.3s ease-in-out;
}

.bar-1 {
    width: 15px;
    top: 0;
    right: 0;
}

.bar-2 {
    width: 30px;
    bottom: 0;
    right: 0;
}

/* === Navigation Right Icon Animation === */

.bar-close-1 {
    top: 7px
}

.bar-close-2 {
    bottom: 8px
}

.nav-icon-container:hover .bar-1 {
    width: 30px
}

.nav-icon-container:hover .bar-2 {
    width: 15px
}

/* === Navigation Right Fadein === */

.nav-fadein-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: -75%;
    z-index: 99;
    overflow: hidden;
    -webkit-transition: right 0.75s ease-in-out; 
            transition: right 0.75s ease-in-out;
}

.nav-fadein-form {
    width: 75%;
    height: 100vh;
    right: -25%;
    position: absolute;
    background: -moz-linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    
    -ms-    transform: matrix(1, 0, -0.3, 1, 0, 0); /* IE 9 */
    -webkit-transform: matrix(1, 0, -0.3, 1, 0, 0); /* Safari */
            transform: matrix(1, 0, -0.3, 1, 0, 0); /* Standard syntax */   
}

.nav-fadein {
    right: 0px;
}

/* =====================================
   start slider container
   ===================================== */

.start-slider-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.img-first  {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    transform: scale(1);
    -webkit-transition: all 1.5s ease-in-out;
    transition:         all 1.5s ease-in-out;
}


.img-first {
    background-image: url('../img/architektur.jpg');
}









a:link {
    color: #1a1a1a;
}

a:visited {
    color: #1a1a1a;
}

a:hover {
    
}

a:active {
    color: palevioletred;
}


/* ============================ */




.img-container-left {
    width: 50%;
    height: 100vh;
    float: left;
    overflow: hidden;
    -webkit-transition: all 1.5s ease-in-out;
    transition:         all 1.5s ease-in-out;
}

.img-container-right{
    width: 50%;
    height: 100vh;
    float: left;
    overflow: hidden;
        -webkit-transition: all 1.5s ease-in-out;
    transition:         all 1.5s ease-in-out;
}

.img-container-full{
    width: 100%;
}

.img-container-zero{
    width: 0%;
    float: right;
}

.img-1, .img-2  {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    transform: scale(1);
    -webkit-transition: all 1.5s ease-in-out;
    transition:         all 1.5s ease-in-out;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.img-1 {background-image: url('../img/architektur.jpg');}
.img-2 {background-image: url('../img/architektur-2.jpg');}

a.button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 1.2px;
    word-spacing: 0px;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    position: absolute;
    bottom: 7px;
    padding: 15px;
    display: none;
    z-index: 101;
}


.title-container-left, .title-container-right {
    width: calc(50% - 10px);
    position: absolute;
    bottom: 30vh;
    text-align: right;
}

.title-container-right {
    right: 0px;
    text-align: left;
}

.content {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 250px;
    letter-spacing: 20px;
    line-height: 1;
    word-spacing: 0px;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    z-index: 99;
    position: relative;
    padding: 0;
    opacity: 1;
    margin: 0px;
    -webkit-transition: all 1.5s ease-in-out;
    transition:         all 1.5s ease-in-out;
}

.inview-text {
    opacity: 0;
    margin-bottom: -100px;
    letter-spacing: 50px;
}



.test {
    position: fixed;
}


.inview-left {
    left: 130%
}

.inview-right {
    right: 130%;
}

.inview-top {
    top: -100%;
}

.next {
    width: 100%;
    height: 500px;
    background-color: #ffffff;
}

.contante {
    width: 50%;
    height: 1000px;
    position: relative;
    float: right;
    background-color: #fff;
    margin-right: 10px;
    padding: 30px;
    padding-top: 25px;
    top: 0px;
    -webkit-transition: all 2s ease-in-out;
    transition:         all 2s ease-in-out;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 1.2px;
    word-spacing: 0px;
    color: #275022;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    
}

.contanteFade {
    top: -70px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
